body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.card {
  margin-top: 1em;
}

.card-subtitle {
  margin-bottom: 1em;
}

.card-columns {
  column-count: 1;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

.error-msg {
  text-align: center;
}

.welcome {
  margin-top: 6px;
}